# Default owner for everything
* @zugobite

# Source code
/src/ @zugobite

# Database scripts
/sql/ @zugobite

# Documentation
/docs/ @zugobite
*.md @zugobite

# Configuration
/.github/ @zugobite
.gitignore @zugobite
